<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/social_network.css">
    <title>شبکه اجتماعی کتاب</title>
  </head>
  <body>

    <!-- navbar with bootstrap -->
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand"></a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <h1 >صفحه اصلی</h1>

    <!--table -->
    <table class="center table_design">
        <thead>
            <tr>
                <th>عنوان</th>
                <th>نویسنده</th>
                <th>جلد کتاب</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>شیرفروش</td>
                <td>سونیا سینگ</td>
                <td>image.png</td>
            </tr><tr>
                <td>داستان های روسی</td>
                <td>چخوف</td>
                <td>image.png</td>
            </tr><tr>
                <td>زنان کوچک</td>
                <td>آلکوت</td>
                <td>image.png</td>
            </tr><tr>
                <td>عقاید یک دلقک</td>
                <td>هانریش بل</td>
                <td>image.png</td>
            </tr><tr>
                <td>مبانی فیزیک</td>
                <td>هالیدی</td>
                <td>image.png</td>
            </tr>
        </tbody>

        <!-- icons -->

    </table>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>